data/EEG_Epileptic_Seizure_Recognition/
data/MNIST/**
data/FMNIST/**
data/SVHN/**
data/CIFAR10/**
data/CIFAR100/**
data/EMNIST/**
data/KMNIST/**
data/STL10/**
data/VOCSEG/**

results/**
results/*ESR*
results/*MNIST*
results/*FMNIST*
results**

*__pycache__*
*.pyc
access_token.txt
env
downloads
*.txt
